@using BeekClone.Web.Models

@using BeekClone.Web.ViewModels


@model HomeViewModel
<br  />
<div class="row">

    @foreach (var libro in Model.Libros)
    {
        <div class="col-md-3 text-center" style="margin-bottom: 30px;">
            <img src="/Content/Libros/@libro.Caratula" height="280" />
            <h5>@libro.Autor.Nombre</h5>
            <div class="btn-group">
                
                    @if (Model.UsuarioLibros.Select(o => o.LibroId).Contains(libro.Id))
                    {
                        <form action="/usuario/remover?libro=@libro.Id" method="post">
                            <button type="submit" class="btn btn-danger">Remover Libro de favoritos</button>
                        </form>
                    }

                    else
                    {
                        <form action="/usuario/marcar?libro=@libro.Id" method="post">
                            <button type="submit" class="btn btn-info">Marcar para Leer</button>
                        </form>
                    }

                        
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                </ul>
            </div>
        </div>
    }

</div> 